* {
  font-family: 'Crimson Pro', serif;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  
}


 /* ABOUT.HTML */

.body1 {
  
  background-color: black;
  color: white;
  max-width: 960px;
  margin: auto;
  float: center;
}

#main-bio {
  line-height: 20px;

}

/* NAVIGATION */
    ul {
      list-style-type: none;
      margin: auto;
      padding-left: 500px;
      padding-right: 350px;
      overflow: hidden;
      background-color: black;
      clear: both;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }


/* CONTACT.HTML */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid whitesmoke;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
  color:white;
  font-family: 'Crimson Pro', serif;
}

.container {
  border-radius: 5px;
  padding: 1px;
  max-width: 960px;
  margin: auto;
}

/* PORTFOLIO.HTML */

.body {
  background-color: black;
  color: white;
  max-width: 960px;
  margin: auto;
  float: center;
}

#portfolioP {
  line-height: 15px;
}

a:link, a:visited {
  background-color: black;
  color:white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: dimgrey;
}

@media only screen and (max-width: 980px) {
  .body1 {
    width: 400px;
  }



}
